<!-- header.html header영역의 화면구성 -->
<!DOCTYPE html>
<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment">

  <div class="container" id="header">
    <div class="align">
      <div class="company_logo">
        <a th:href="@{/index}">
          <img th:src="@{/image/yolo_company/logo-b.png}" alt="회사로고" class="logo" />
        </a>
      </div>
      <ul class="navbar">
        <li th:if="${user_dto == null}"><a href="">로그인</a></li>
      </ul>
    </div>
  </div>

</html>