<!-- sns 로그인 -->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
>
  <head>
    <meta charset="UTF-8">
    <link th:inline="css" th:href="@{/css/login.css}" rel="stylesheet" />
    <title>로그인</title>

  </head>
  <body>

    <div class="container center-block align-items-center">
      <div  class="card-title">
        <a th:href="/index"><img th:src="@{/image/company-logo/logo-b.png}" alt="LOGO"></a>
      </div>
      <div class="card-body">
          <div>
            <a th:href="/login/oauth2/code/naver">네이버</a>
            <a th:href="/login/oauth2/code/google">구글</a>
            <a th:href="/login/oauth2/code/kakao">카카오</a>
          </div>
      </div>
    </div>

  </body>
</html>