.reserve-box{margin-top:20px;}
    .box-top{width:100%;background-color:#00ADAC;font-family: 'noto';display: flex;}
        .box-top li{width:33%;padding:25px 0;text-align: center;font-size: 18px;font-family: 'noto-m';}
    .box-content{width:100%;}
        .box-content li{width:100%;}
            .box-content li span{display: inline-block;width:33%;padding:10px 0 10px 10px;font-family: 'noto-r';font-size: 15px;}
            .Camping-situation{text-align: center;}
            .Camping-situation a{padding:10px 25px;font-family:'noto-m';}



/* 캠핑예약페이지 */

.checkbox input[type="checkbox"]{margin-right: 5px;}

.right-box{background-color: #79e0d9;}
    .right-reserve-box{width: 100%;height:100%;padding:20px;}
        .text{border-bottom:1px solid #000;}
            .text h6{font-weight: 600;color:gray;}
            .text p{font-weight: 700;}
        .total{padding:20px 0;}
            .total h6{font-size: 20px;font-weight: 600;}
            .total strong{font-size: 18px;color:crimson;font-weight: 900;}
            .total ul{margin:20px 0;}
            .total ul li{padding:5px 0;font-size: 15px;}
            .button{background-color: #35627b;color:#f7f3f4;}